# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

venv/
backend/.env

# Node/Frontend
node_modules/
frontend/dist/
frontend/.env
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/Editors
.DS_Store
Thumbs.db
.idea/
.vscode/